.header-row {
  background-color: #9d94b4;
}

h3,
.menu-icon {
  font-family: Lato, sans-serif;
  font-weight: 500;
  margin-top: 10px;
}

input,
li {
  font-family: Lato, sans-serif;
  font-weight: 400;
}

#filter-input-div {
  background-color: #9d94b4;
}

#filter-input-prompt {
  margin-top: 5px;
}

#filter-input-prompt {
  background-color: #b6e2ed;
}

/* finicky adjustment to match size of map div */
#div-list {
  height: 769px;
  background-color: #9d94b4;
}

ul {
  list-style-type: none;
  padding-left: 5px;
}

li,
form {
  padding-bottom: 5px;
  padding-top: 5px;
}

li:hover {
  background-color: yellow;
  color: blue;
}

#mapDiv {
  height: 800px;
  padding: 0;
}

#map {
  display: block;
  height: 100%;
  margin: 0 0;
}

@media only screen and (max-width: 768px) {

  /* add padding so user can scroll page, not just scroll map itself */
  #mapDiv {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #9d94b4;
  }

  #filter-input-prompt {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  #mapDiv {
    height: 450px;
  }

  #div-list {
    height: 419px;
  }
}

/* Don't show menu icon above 768px */
/* Change map to width of 75%. */
@media only screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  #mapDiv {
    position: relative;
    min-height: 1px;
    float: left;
    width: 75%;
  }
}

/* finicky adjustment to match size of map div */
@media only screen and (min-width: 992px) {
  #div-list {
    height: 769px;
  }
}
